@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.eot');
    src: url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
         url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.woff2') format('woff2'),
         url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.woff') format('woff'),
         url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.ttf') format('truetype'),
         url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
	
}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.eot');
    src: url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
         url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.woff2') format('woff2'),
         url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.woff') format('woff'),
         url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.ttf') format('truetype'),
         url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.eot');
    src: url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
         url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.woff2') format('woff2'),
         url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.woff') format('woff'),
         url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.ttf') format('truetype'),
         url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}


html,
body{
	overflow-x: hidden;
}
img{
	max-width: 100%;
}
.navbar-fixed-top{
	position: absolute;
	top:0;
	left:0;
}
.nav>li>a{
	font-family: 'proxima_nova_rgbold', serif;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	line-height: 140px;
}
.nav>li>a:hover{
	/* border-bottom: 3px solid #fff; */
	color: #b46d70;
	background-color: transparent;
}
.nav>li>a:active{
	/* border-bottom: 3px solid #fff; */
	color: #b46d70;
	background-color: transparent;
}
.nav>li>a:focus{
	/* border-bottom: 3px solid #fff; */
	color: #b46d70;
	background-color: transparent;
}
.navbar-brand{
	margin-top: 10px;
}
/*
nav{
	position: absolute;
	top: 0;
	z-index: 20;
}
*/
.carousel{
	/*
	position: absolute;
	top: 0;
	*/
	z-index: 10;
	margin-bottom: 100px;
}

.carousel-caption{
	min-height: 100%;
}
.carousel-caption  img{
	display: block;
	margin: 0px auto;
	height: auto;
}
.carousel-caption .text{
	display: block;
	margin: 0px auto;
	height: auto;
}
.carousel-caption .text{
	margin-top: 3%;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 20px;
	letter-spacing: 0.5px;
	text-align: center;
	width: 70%;
}
.carousel-caption .icon{
	margin-top: 23%;
}
.carousel-caption .title{
	/*margin-top: 50px;*/
	margin-top: 4%;
}
.carousel-caption .line{
	/*margin-top: 40px;*/
	margin-top: 3%;
}
.carousel-caption .icon-footer{
	position: absolute;
	bottom: 0;
	left: 49%;
}
.carousel-control{
	visibility: hidden;
}
.carousel:hover .carousel-control{
	visibility: visible;
}
.carousel-caption{
}
/* Section info */
.infor{
	margin-bottom: 95px;
}
.infor .header{
	margin-bottom: 85px;
}
.infor .header p{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 48px;
	margin-bottom: 75px;
}
.infor .content img{
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
.infor .content .sub-title{
	text-transform: uppercase;
	font-family: 'proxima_nova_ltsemibold', serif;
	font-size: 16px;
	margin-bottom: 12px;
}
.infor .content .sub-content{
	font-family: 'proxima_nova_rgregular', serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	margin-bottom: 17px;
	color: #868686;
}

.infor .content .button{
	font-family: 'proxima_nova_rgregular', serif;
	font-size: 15px;
}
.infor .content a{
	color:#b46d70;
}
/* End section info */

/* Section quotes */
.quotes{
	background-image: url('../images/main content/bg2.jpg');
	padding: 200px 0px;
	margin-bottom: 82px;
}

.quotes p{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 48px;
	color: #fff;
	letter-spacing: 0.5px;
}
/* End section quotes */

/* Section portfolio */
.portfolio{
	
}
.portfolio img{
	margin-left: auto;
	margin-right: auto;
}
.portfolio .header{
	margin-bottom: 55px;
}
.portfolio .header .title{
	font-family: 'proxima_nova_ltsemibold';
	font-size: 48px;
	letter-spacing: 0.5px;
	margin-bottom: -5px;
}
.portfolio .header .sub-title{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 35px;
}
.portfolio .header .content{
	font-family: 'proxima_nova_rgregular', serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	color: #868686;
}
/* End section portfolio */

/* Section features */
.features{
	margin-top: 80px;
}
/*
.features .row{
	margin-bottom:60px;
} */
.features .sub-row{
	margin-bottom:60px;
}
.features .title{
	font-family: 'proxima_nova_ltsemibold', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 16px;
}
.features .content{
	font-family: 'proxima_nova_rgregular';
	font-size: 15px;
	letter-spacing: 0.5px;
	color: #868686;
}
.features .item{
	line-height: 135px;
	height: 135px;
	width: 100px;
	border: solid 1px #eeeeee;
	color: #a5a5a5;
	margin-right: 20px;
}
.features .item:hover{
	transition: background-color 1s ease;
	background-color: #b46d70;
}
/* End section features */

/* Section sign-up */
.sign-up{
	background-image: url('../images/main content/bg3.jpg');
	background-size: cover;
	margin-top: 40px;
}
.sign-up .content{
	padding: 175px 0px;
}
.sign-up .content .form-inline{
	margin-top: 20px;
}
.sign-up .content .title{
	color: #fff;
	font-family: 'proxima_nova_ltsemibold';
	letter-spacing: 0.5px;
	font-size: 36px;
	font-weight: bold;
	margin-left: 23%;
}
.sign-up .content .sub-title{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 16px;
	color: #fff;
	margin-left: 23%;
}
.sign-up .content .feedback{
	background-color: transparent;
	padding: 12px 25px;
	color: #fff;
	border: #fff solid 1px;
	font-family: 'proxima_nova_rgregular';
	font-size:15px;
	letter-spacing: 0.5px;
	width: 22vw;
	margin-bottom: 15px;
}
.sign-up .content .button{
	font-family: 'proxima_nova_ltsemibold', sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 25px;
	margin-left: 15px;
	background-color: #b46d70;
	border:  solid 2px #b46d70;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.sign-up .content input[type=email]:focus{
	border: solid 1px #b46d70;
}
.sign-up .content input[type=email]:active{
	border: solid 1px #b46d70;
}
.sign-up .content input[type=email]:hover{
	border: solid 1px #b46d70;
}
.sign-up .feedback::-webkit-input-placeholder {
	font-family: 'proxima_nova_rgregular';
	font-size:15px;
	letter-spacing: 0.5px;
}

.sign-up .feedback:-moz-placeholder { /* Firefox 18- */
	font-family: 'proxima_nova_rgregular';
	font-size:15px;
	letter-spacing: 0.5px;
}

.sign-up .feedback::-moz-placeholder {  /* Firefox 19+ */
	font-family: 'proxima_nova_rgregular';
	font-size:15px;
	letter-spacing: 0.5px;
}

.sign-up .feedback:-ms-input-placeholder {  
    font-family: 'proxima_nova_rgregular';
	font-size:15px;
	letter-spacing: 0.5px;
}
/* End section sign-up */

/*  Section brand-logo */
.brand-logo{
	padding: 55px 0px;
}
/*  End section brand-logo */

.end-logo{
	margin-top:0px;
	margin-bottom:95px;
}
/*  Section blog */
.blog{
	margin-bottom: 100px;
}
.blog a{
	color:#b46d70;
}
.blog .header{

}
.blog  .header .main-title {
	font-family: 'proxima_nova_ltsemibold';
	font-size: 48px;
	font-style: bold;
	margin-bottom: -5px;
}
.blog .header .sub-title{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 70px;
	color: #7f7f7f;
}
.blog .content img{
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.blog  .content .title{
	text-transform: uppercase;
	font-family: 'proxima_nova_ltsemibold';
	font-size: 16px;
	font-style: bold;
	margin-bottom: 10px;
}

.blog  .content .title:hover{
	color: #b46d70;
	cursor: pointer;
}
.blog .content .address{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 20px;
	color: #7f7f7f;
}
.blog .content .link{
	font-family: 'proxima_nova_rgregular', serif;
	font-size: 15px;
}

/*  End section blog */


footer {
	width: 100%;
	height: 370px;
	background-image:url('../images/footer/bg.jpg');
	overflow-y: hidden;
}
footer .social{
	padding: 45px 0px;
}
footer .icon{
	
}
footer  i{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #fff;
	color: #000;
	padding: 15px 0px;
}
footer i:hover{
	background-color: #b46d70;
	color: #fff;
	transition: background-color 1s ease;
	transition: color 1s ease;
}
footer .content{
	font-family: 'proxima_nova_rgregular', sans-serif;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #fff;
	margin-top: 70px;
}
footer .footer{
	font-family: 'proxima_nova_rgregular', sans-serif;
	letter-spacing: 0.5px;
	margin-top: 45px;
	margin-bottom: 85px;
	color: #7f7f7f;
}