@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.eot');
    src: url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
         url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.woff2') format('woff2'),
         url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.woff') format('woff'),
         url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.ttf') format('truetype'),
         url('../custom-fonts/proxima_nova_rgbold/mark_simonson_-_proxima_nova_bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
	
}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.eot');
    src: url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
         url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.woff2') format('woff2'),
         url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.woff') format('woff'),
         url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.ttf') format('truetype'),
         url('../custom-fonts/proxima_nova_rgregular/mark_simonson_-_proxima_nova_regular.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.eot');
    src: url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
         url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.woff2') format('woff2'),
         url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.woff') format('woff'),
         url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.ttf') format('truetype'),
         url('../custom-fonts/proxima_nova_ltsemibold/mark_simonson_-_proxima_nova_semibold.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	overflow-x: hidden;
}
.carousel-inner{
    height: 100%;
}
.carousel-caption{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
}

.carousel-caption  .icon{
   margin-left: 47%;
   margin-top: 10%;
   margin-bottom: 30px;
}
.carousel-caption  .title{
   margin-left: 32%;
}
.carousel-caption .line{
	margin-top: 30px;
	margin-left: 48%;
}
.carousel-inner  .content{
	font-family: 'Playfair Display', sans-serif;
	font-style: italic;
	font-size: 20px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 50px;
}
.carousel-caption  .icon2{
   margin-left: 43%;
   margin-top: 10%;
   margin-bottom: 30px;
}
.carousel-caption  .icon3{
   margin-left: 46%;
   margin-top: 10%;
   margin-bottom: 30px;
}

.carousel-caption  .icon-footer{
	margin-top: 20%;
	margin-left: 49%;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* Section info */
.infor{
	margin-top: 95px;
}
.infor .header{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 48px;
}
.infor .header p{
	margin-bottom: 45px;
}
.infor .content{
	margin-top: 70px;
	font-size: 15px;
}
.infor .content .sub-title{
	text-transform: uppercase;
	margin-top: 25px;
	font-weight: bold;
	font-size: 16px;
}
.infor .content .sub-content{
	margin-top: 5px;
	margin-bottom: 20px;
	font-family: proxima nova regular, serif;
	font-size: 15px;
}

.infor a{
	color:#b46d70;
}
/* End section info */

/* Section quotes */
.quotes{
	height: 500px;
	margin-top: 90px;
	background-image: url('../images/main content/bg2.jpg');
	background-size: 100% 500px;
	background-position: center top;
}

.quotes p{
	font-family: 'Proxima Nova', serif;
	font-size: 48px;
	font-style: italic;
	color: #ffffff;
	margin-top: 13%
}
/* End section quotes */

/* Section portfolio */
.portfolio{
	margin-top: 100px;
	margin-bottom:90x;
}
.portfolio .title{
	font-size: 48px;
}
.portfolio .sub-title{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 33px;
	margin-top: -13px;
}
.portfolio .content{
	margin-top: 45px;
}
/* End section portfolio */


/* Section features */
.features{
	
}
.features .title{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.features .content{
	font-size: 15px;
}
.features .item{
	margin-right:20px;
	height: 125px;
	width: 100px;
	border: solid 1px;
	opacity: 0.6;
}
.features .item:hover{
	background-color: #b46d70;
}
.features .item .icon{
	margin-top: 25%;
}
/* End section features */
.sign-up{
	height: 400px;
	width: 100%;
	background-image: url('../images/main content/bg3.jpg');
	margin-top: 70px;
	overflow: hidden;
}
.sign-up .content{
	margin-top: 10%;
}
.sign-up .header{
	
}
.sign-up .title{
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	margin-left: 23%;
}
.sign-up .sub-title{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 16px;
	color: #fff;
	margin-left: 23%;
}
.sign-up .feedback{
	background-color: transparent;
	padding: 5px 10px;
	width: 420px;
	padding: 12px 25px;
	color: #fff;
	border: #fff solid 1px;
}

.sign-up .button{
	font-size: 16px;
	font-weight: bold;
	padding: 12px 25px;
	margin-left: 15px;
	background-color: #b46d70;
	border:  solid 2px #b46d70;
	color: #fff;
}
.sign-up .feedback:hover{
	border: solid 1px #b46d70;
}
.sign-up .feedback:visited{
	
}
.brand-logo{
	margin-top: 50px;
	margin-bottom: 57px;
}
.blog{

}
.blog a{
	color:#b46d70;
}
.blog .header{

}
.blog  .header .main-title {
	font-family: 'proxima_nova_ltsemibold', sans-serif;
	font-size: 48px;
	font-style: bold;
}
.blog .header .sub-title{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 20px;
}
.blog .content{
	
}

.blog  .content .title{
	margin-top: 23px;
	text-transform: uppercase;
	font-size: 16px;
}
.blog  .content .title:hover{
	color: #b46d70;
	cursor: pointer;
}
.blog .content .address{
	margin-top: 10px;
	margin-bottom: 22px;
	font-family: "playfaildisplay";
	font-style: italic;
	font-size: 14px;
	
}
footer {
	width: 100%;
	margin-top: 95px;
	background-image:url('../images/footer/bg.jpg');
}
footer .social{
	
}
footer .icon{
	margin-top: 43px;
	margin-right: 20px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #ffffff;
	line-height: 60px;
	float: left;
}
footer .icon:hover{
	background-color: #b46d70;
}
footer .content{
	color: #fff;
	margin-top: 115px;
}
footer .footer{
	margin-top: 45px;
	margin-bottom: 85px;
}

ul > li > a{
	color: #ffffff;
	margin-top: 32px;
}
.nav 

