@font-face {
    font-family: 'latoblack';
    src: url('../fonts/custom-fonts/latoblack/lato-black.eot');
    src: url('../fonts/custom-fonts/latoblack/lato-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/custom-fonts/latoblack/lato-black.woff2') format('woff2'),
         url('../fonts/custom-fonts/latoblack/lato-black.woff') format('woff'),
         url('../fonts/custom-fonts/latoblack/lato-black.ttf') format('truetype'),
         url('../fonts/custom-fonts/latoblack/lato-black.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/custom-fonts/latolight/lato-light-webfont.eot');
    src: url('../fonts/custom-fonts/latolight/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/custom-fonts/latolight/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/custom-fonts/latolight/lato-light-webfont.woff') format('woff'),
         url('../fonts/custom-fonts/latolight/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/custom-fonts/latolight/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.eot');
    src: url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-bold-webfont.woff2') format('woff2'),
         url('montserrat-bold-webfont.woff') format('woff'),
         url('montserrat-bold-webfont.ttf') format('truetype'),
         url('montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	background-image: url('../images/bg.jpg');
}
img{
	max-width: 100%;
}

.navbar-fixed-top{
	position: absolute;
	top:0;
	margin-top: 16px;
}
.navbar-inner{
	
}
.padding-0{
	padding-left: 0px;
	padding-right: 0px;
}
.margin-0{
	margin-left: 0px;
	margin-right: 0px;
}
header{
	background-color: #eeeeee;
}
header .content h3{
	font-family: 'latoblack', sans-serif;
	line-height: 100px;
	font-size: 100px;
	letter-spacing: -0.5px;
	margin-bottom: 43px;
}
header .content p{
	font-family: 'latolight', sans-serif;
	font-size: 18px;
	letter-spacing: 0.2px;
	line-height: 29px;
}
header .content a{
	text-decoration: none;
	color: #000;
	font-family: 'latoblack', sans-serif;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.page1{

}

.page1 .content{
	padding-top: 156px;
	padding-bottom: 169px;
}
.page1 .content h2{
	font-family: 'montserratbold', sans-serif;
	font-size: 16px;
	letter-spacing: 2.4px;
	line-height: 20px;
	color: #999999;
	margin-bottom: 19px;
}
.page1 .content .line{
	
}
.page1 .content h3{
	font-family: 'latoblack', sans-serif;
	font-size: 60px;
	letter-spacing: -0.4px;
	line-height: 60px;
	color: #1f1f1f;
	margin-top: 17px;
	margin-bottom: 41px;
}
.page1 .content p{
	font-family: 'latolight', sans-serif;
	font-size: 17px;
	letter-spacing: 0.2px;
	line-height: 27px;
	color: #444444;
}

.page2{
	background-image: url('../images/bg2.png');
	padding: 100px 0px;
	
}
.page2  h2{
	font-family: 'montserratbold', sans-serif;
	line-height: 20px;
	font-size: 16px;
	letter-spacing: 2.4px;
	color: #999999;
}
.page2  h3{
	font-family: 'latoblack', sans-serif;
	line-height: 60px;
	font-size: 60px;
	letter-spacing: -0.4px;
	color: #1f1f1f;
}
.page2  p{
	font-family: 'latolight', sans-serif;
	line-height: 27px;
	font-size: 17px;
	letter-spacing: 0.4px;
	color: #444444;
}
.page3{
	background-color: #000;
}
.page3  .list-inline{
	margin: 0;
	padding: 30px 0px;
}
.page3  .list-inline li a{
	font-family: 'latoblack', sans-serif;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	color: #aaaaaa;
	margin-left: 10px;
	padding: 13px;
	border: 3px solid transparent;
}
.page3 .list-inline li a:hover{
	color: #fff;
	border: 3px solid #fff;
	
}

.page4{
	background-color: #eeeeee;
	padding:200px 0;
}
.page4 p{
	font-size: 28px;
	line-height: 45px;
	letter-spacing: 0px;
}
.page4 .carousel img{
	width: 100%;
}
.page4 .carousel-control{
	top: 50%;
	opacity: 0.5;

}
.page4 .carousel-control .left{
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
	background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
}
.page4 .carousel-control span{
	color: #000;
	border: solid 3px #000;
	padding: 20px;
}


