.view {
	overflow: hidden;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}
.mask-wrap{
	position: relative;
}
.mask{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}
.mask-content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.view img {
	display: block;
	position: relative;
}
.view  h2{
	font-family: 'proxima_nova_ltsemibold', serif;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	top:35%;
}
.view p {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 12px;
	top:37%;
	position: relative;
	color: #fff;
	text-align: center;
}